* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: cadetblue;
}



h1 {
    margin-bottom: 15px;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#contact {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 15px;
    background-color: wheat;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;

}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
}

.contact-form input[type=text],
.contact-form input[type=tel],
.contact-form input[type=email] {
    padding: 20px;
    color: black;
    background-color: rgba(137, 43, 226, 0.271);
    border: 1px solid black;
    border-radius: 10px;
}

.contact-form input[type=text]:hover,
.contact-form input[type=tel]:hover,
.contact-form input[type=email]:hover {
    padding: 20px;
    background-color: rgba(137, 43, 226, 0.071);
    border: 2px solid black;
    border-radius: 5px;
    transition:.3s ease-in-out;
}

.contact-form input[type=text]::placeholder,
.contact-form input[type=tel]::placeholder,
.contact-form input[type=email]::placeholder {
    color: crimson;

}
.contact-form input[type=text]::placeholder:hover,
.contact-form input[type=tel]::placeholder:hover,
.contact-form input[type=email]::placeholder:hover 
.contact-form #content {
    color: whitesmoke;

}

.contact-form #content {
    padding: 15px;
    color: rgb(0, 0, 0);
    background-color: pink;
    border: 1px solid black;
    border-radius: 5px;
    height: 130px;

}

.contact-form #content:hover {
    padding: 15px;
    background-color: rgba(232, 8, 45, 0.464);
    border: 1px solid black;
    border-radius: 9px;
    height: 130px;

}

input[type=submit] {
    margin-top: -5px;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: oblique;
    padding: 15px;
    align-self: center;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
input[type=submit]:hover {
    width: 95%;
    font-size: 20px;
    border-radius: 20px;
    color: black;
    background-color: white;
    transition: .3s ease;
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    outline: 0;
}

:root {
    --color1: #424890;
    --color2: #1f2641;
    --color3: #2e3267;
}


nav {
    background: var(--color1);
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    z-index: 11;

}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}


.nav-menu a {
    font-size: larger;
    color: #000000;
    transition: .2s ease;
    transition-delay: .3s;
}

.nav-menu a:hover {
    color: rgba(0, 0, 0, 0.672);

}

.s-list .nav-btn {
    background-color: rgba(123, 8, 123, 0.775);
    color: white;
    border-radius: 10px;
    padding: .5em 1em;

}

.nav-btn:hover {
    background-color: rgba(123, 8, 123, 0.685);
    border-radius: 5px;
    padding: .6em 1em;


}

/* End Nav */


/* Footer */
footer {
    margin-top: 15px;
    background-color: rgba(137, 43, 226, 0.478);
    padding-top: 50px;
    padding-left: 97px;
}

.permalinks li a,
.privacy li a {

    color: rgba(0, 0, 0, 0.761);

}


.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.footer1 h4 {
    margin: 20px 0 30px;
}

footer ul li {
    margin-bottom: 7px;
}

footer ul li:hover {
    text-decoration: underline;
}

.footer-socials {
    cursor: pointer;
    display: flex;
    gap: 12px;
    font-size: 15px;
    margin-top: 20px;
    padding-right: 60px;
}

/* End Footer */


